<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container" hidden$={{logado}}>
      <div class="card text-center mt-5" style="background-color: #072146;color: white;">
        <div class="card-body">
          <h1><span class="fa fa-user"></span>GESTOR DE ALERTAMIENTOS CLIENTES - BBVA</h1>
        </div>
      </div>
    </div>
    <div class="container" hidden$={{logado}}>
      <div class="card text-center mt-5">
        <div class="card-body">
          <div class="row" style="justify-content: center;margin-top: 20px;">
              Usuario&nbsp;
              <svg class="bi bi-envelope-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M.05 3.555L8 8.414l7.95-4.859A2 2 0 0014 2H2A2 2 0 00.05 3.555zM16 4.697l-5.875 3.59L16 11.743V4.697zm-.168 8.108L9.157 8.879 8 9.586l-1.157-.707-6.675 3.926A2 2 0 002 14h12a2 2 0 001.832-1.195zM0 11.743l5.875-3.456L0 4.697v7.046z"/>
              </svg>&nbsp;
              <input type="email" value="{{email::input}}">
          </div>
          <div class="row" style="justify-content: center;margin-top: 20px;">
              Contraseña&nbsp;
              <svg class="bi bi-lock-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <rect width="11" height="9" x="2.5" y="7" rx="2"/>
                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 117 0v3h-1V4a2.5 2.5 0 00-5 0v3h-1V4z" clip-rule="evenodd"/>
              </svg>&nbsp;
              <input type="password" value="{{password::input}}">
          </div>
          <div class="form-group alert alert-danger" hidden$={{!error}}>
              <label >Usuario o contraseña incorrecto</label>
          </div>
          <div class="form-group alert alert-danger" hidden$={{!errorDatos}}>
              <label >Validar información capturada</label>
              <label>{{mensaje::input}}</label>
          </div>
          <div class="form-group alert alert-success" hidden$={{!altaOk}}>
              <label >Creación exitosa</label>
          </div>
            <div class="row" style="justify-content: center;margin-top: 20px;">
                  <button on-click="login" class="btn-info" type="button" style="margin-right:2%;background-color: #028484;">Iniciar sesión </button>
                  <button on-click="crearCuenta" class="btn btn-secondary" type="button" style="background-color: #072146;">Registrarse </button>
      		</div>
        </div>
      </div>
    </div>

     <div class="container" hidden$={{!logado}}>
       <div class="card text-center mt-5" style="background-color: #072146;color: white;">
         <div class="card-body">
           <h1><span class="fa fa-user"></span>Bienvenido(a) [[email]]</h1>
         </div>
       </div>
       <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#028484">
         <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link" href="#" on-click="showpantallaClientes">Alta de clientes</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#" on-click="showpantallaAlertas">Alta de alertas</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#" on-click="showpantallaConsultas">Consulta de alertas</a>
           </li>
         </ul>
       </nav>

       <div class="card mt-2" hidden$={{!pantallaClientes}}>
         <div class="card-body">
           <form style="margin-left: 26%;"id="formCliente">
             <div class="form-group">
               <label class="control-label col-sm-4" for="tipoP">Tipo de persona:</label>
               <div class="col-sm-5">
                <select class="form-control" id="tipoP" value = "{{tipoInput::input}}">
                  <option></option>
                  <option>Física</option>
                  <option>Moral</option>
                </select>
                </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-4" for="nombre">Nombre (s):</label>
               <div class="col-sm-5">
                 <input type="text" class="form-control" id="nombre" value="{{nombre::input}}">
              </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-4" for="apellidos">Apellidos:</label>
               <div class="col-sm-5">
                 <input type="text" class="form-control" id="apellidotxt" value="{{apellidos::input}}">
              </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-4" for="cp">Código postal:</label>
               <div class="col-sm-5">
                 <input type="text" class="form-control" on-focusout="consultaSepomex" id="cp" value="{{cp::input}}">
              </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-4" for="estado">Estado:</label>
               <div class="col-sm-5">
                 <input type="text" class="form-control" id="estadp" value="{{estado::input}}" readonly>
              </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-4" for="municipio">Municipio:</label>
               <div class="col-sm-5">
                 <input type="text" class="form-control" id="municipio" value="{{municipio::input}}" readonly>
              </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-4" for="ciudad">Ciudad:</label>
               <div class="col-sm-5">
                 <input type="text" class="form-control" id="ciudad" value="{{ciudad::input}}" readonly>
              </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-4" for="tipoAlerta">Colonia:</label>
               <div class="col-sm-5">
                <select class="form-control" id=colonia value = "{{coloniaInput::input}}">
                  <option value=""></option>
                <template is="dom-repeat" items="{{options}}" as ="o" >
                  <option value="{{o}}">{{o}}</option>
                </template>
              </select>
                </div>
             </div>
             <div class="row" style="margin-top: 20px;">
                <button on-click="guardarCliente" class="btn-info" type="button" style="margin-left:17%;background-color: #028484;">Guardar</button>
       		   </div>
           </form>
           <div class="form-group alert alert-danger" hidden$={{!errorAltaCliente}}>
               <label >Error al registrar cliente</label>
           </div>
           <div class="form-group alert alert-success" hidden$={{!altaOkCliente}}>
               <label >Alta de cliente exitosa</label>
           </div>
           <div class="form-group alert alert-danger" hidden$={{!errorDatosClienteFisica}}>
               <label>Validar información capturada</label><br>
               <label> Persona física debe tener apellidos</label>
           </div>
         </div>
       </div>

       <div class="card mt-2" hidden$={{!pantallaAlertas}}>
         <div class="card-body">
           <form style="margin-left: 26%;">
             <div class="form-group">
               <label class="control-label col-sm-2" for="tipoAlerta">Tipo de alerta:</label>
               <div class="col-sm-5">
                <select class="form-control" id="tipoAlerta" value = "{{tipoInputAlerta::input}}">
                  <option></option>
                  <option>Impago</option>
                  <option>Vencimiento de capital</option>
                </select>
                </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-4" for="cliente">Cliente:</label>
               <div class="col-sm-5">
                <select class="form-control" id=cliente value = "{{clienteInput::input}}">
                  <option value=""></option>
                <template is="dom-repeat" items="{{optionsCliente}}" as ="o" >
                  <option value="{{o}}">{{o}}</option>
                </template>
              </select>
                </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-4" for="planAnccion">Plan de acción:</label>
               <div class="col-sm-5">
                 <textarea class="form-control" id="planAnccion" rows="3" value = "{{inputPlanAccion::input}}"></textarea>
              </div>
             </div>
             <div class="form-group">
               <label class="control-label col-sm-4" for="fecha" class="col-2 col-form-label">Fecha de compromiso</label>
               <div class="col-sm-5">
                 <input class="form-control" type="date" id="fecha" value = "{{inputFechaComp::input}}">
               </div>
             </div>
             <div class="row" style="margin-top: 20px;">
                <button on-click="guardarAlerta" class="btn-info" type="button" style="margin-left:17%;background-color: #028484;">Guardar</button>
       		   </div>

           </form>
           <div class="form-group alert alert-danger" hidden$={{!errorAltaAlerta}}>
               <label >Error al registrar alerta</label>
           </div>

           <div class="form-group alert alert-success" hidden$={{!altaOkAlerta}}>
               <label >Alta de alerta exitosa</label>
           </div>
         </div>
       </div>

       <div class="card mt-2" hidden$={{!pantallaConsultas}}>
         <div class="card-body">
           <table class="table table-striped">
           <thead>
            <th>Alerta</th>
            <th>Cliente</th>
            <th>Plan de acción</th>
            <th>Fecha compromiso</th>
           </thead>
             <tbody>
               <template is="dom-repeat" items="{{listAlertas}}">
                 <tr>
                   <td>
                     [[item.tipoAlerta]]
                   </td>
                   <td>
                     [[item.cliente]]
                   </td>
                   <td>
                     [[item.planAccion]]
                   </td>
                   <td>
                     [[item.fechaCompromiso]]
                   </td>
                 </tr>
               </template>
             </tbody>
           </table>
         </div>
       </div>
     </div>

     <div class="container" style="margin-top:20px;" hidden$={{!logado}}>
       <div class="float-right">
         <button on-click="cerrarSesion" type="button"class="btn btn-outline-dark btn-sm" >Cerrar sesión</button>
       </div>
     </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/login"
      Content-Type="application/json"
      crossDomain:true
      dataType: 'jsonp'
      method = 'POST'
      handle-as="json"
      headers = "Access-Control-Allow-Headers: *"
      on-response = "manageAJAXResponse"
      on-error = "showError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          tipoInput: {
            type: String
          },
          tipoInputAlerta: {
            type: String
          },
          nombre: {
            type: String
          },
          apellidos: {
            type: String
          },
          cp: {
            type: String
          },
          estado: {
            type: String
          },
          municipio: {
            type: String
          },
          ciudad: {
            type: String
          },
          coloniaInput: {
            type: String
          },
          clienteInput: {
            type: String
          },
          options: {
            type: Array
          },
          optionsCliente: {
            type: Array
          },
          inputPlanAccion: {
            type: String
          },
          inputFechaComp: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          altaOk: {
            type: Boolean,
            value: false
          },
          altaOkCliente: {
            type: Boolean,
            value: false
          },
          altaOkAlerta: {
            type: Boolean,
            value: false
          },
          errorAltaCliente: {
            type: Boolean,
            value: false
          },
          errorAltaAlerta: {
            type: Boolean,
            value: false
          },
          error: {
            type: Boolean,
            value: false
          },
          pantallaClientes: {
            type: Boolean,
            value: false
          },
          pantallaConsultas: {
            type: Boolean,
            value: false
          },
          pantallaAlertas: {
            type: Boolean,
            value: false
          },
          errorDatos: {
            type: Boolean,
            value: false
          },
          mensaje: {
            type: String
          },
          listAlertas: {
              type: Array
          },
          errorDatosClienteFisica:{
            type:Boolean,
            value:false
          }
        };
      }
      login() {
        if((this.email !== null && this.password !== null) && (this.email !== "" && this.password !== "") && (this.email !== undefined && this.password !== undefined)){
        this.errorDatos=false;
         var loginData = {
           "email" : this.email,
           "password" : this.password
         };
         this.$.doLogin.body = JSON.stringify(loginData);
         this.$.doLogin.generateRequest();
       }else{
         this.error = false;
         this.errorDatos=true;
         this.mensaje = "Datos faltantes, Capturar usuario y contraseña";
       }
     }
     cerrarSesion(){
        this.logado=false;
      }

      manageAJAXResponse() {
        this.logado = true;
        this.error = false;
      }
      showError() {
        this.error=true;
        this.logado=false;
      }
      showpantallaAlertas() {
        this.pantallaConsultas=false;
        this.pantallaClientes=false;
        this.pantallaAlertas=true;
        var url = "http://localhost:3000/clientes";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.respuesta = JSON.parse(request.responseText);
        var arrayClientes= [];
        for (var i = 0; i < this.respuesta.length; i++) {
          arrayClientes.push(this.respuesta[i].tipoPersona+" - "+this.respuesta[i].nombre + " "+ this.respuesta[i].nombre+" "+this.respuesta[i].apellidos);
        }
        this.optionsCliente = arrayClientes;
      }

      showpantallaConsultas() {
        this.pantallaClientes=false;
        this.pantallaAlertas=false;
        this.pantallaConsultas=true;
        var url = "http://localhost:3000/alertas";
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.listAlertas = JSON.parse(request.responseText);
      }
      showpantallaClientes() {
        this.pantallaAlertas=false;
        this.pantallaConsultas=false;
        this.pantallaClientes=true;
      }
      crearCuenta(){
        if((this.email !== null && this.password !== null) && (this.email !== "" && this.password !== "") && (this.email !== undefined && this.password !== undefined)){
        this.errorDatos=false;
        var url = "http://localhost:3000/Usuarios";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var usuario = '{"email": "'+this.email+'", "password": "'+this.password+'"}';
        var obj = JSON.parse(usuario);
        var body = JSON.stringify(obj);
        request.send(body);
        this.respuesta = request.responseText;
        if(this.respuesta=200)
        {
          this.altaOk=true;
        }
      }else{
        this.errorDatos=true;
        this.error = false;
        this.mensaje = "Datos faltantes, Capturar usuario y contraseña";
      }
      }

      guardarCliente(){
            var aux = this.tipoInput;
            var url = "http://localhost:3000/clientes";
            var request = new XMLHttpRequest();
            request.open("POST", url, false);
            request.setRequestHeader("Accept", "application/json");
            request.setRequestHeader("Content-Type", "application/json");
            if(aux !== "Moral"){
              if(this.apellidos !== null && this.apellidos !== "" && this.apellidos !== undefined){
                var cliente ='{"tipoPersona": "'+ this.tipoInput+'", "nombre": "'+this.nombre+'", "apellidos": "'+this.apellidos+'", "cp": "'+ this.cp+'", "estado": "'+this.estado+'", "municipio": "'+this.municipio+'", "ciudad": "'+this.ciudad+'", "colonia": "'+this.coloniaInput+'"}';
                var obj = JSON.parse(cliente);
                var body = JSON.stringify(obj);
                request.send(body);
                this.respuesta = request.responseText;
                if(this.respuesta=200)
                {
                  this.altaOkCliente=true;
                  this.errorDatosClienteFisica = false;
                  this.errorAltaCliente = false;
                  this.tipoInput = "";
                  this.nombre = "";
                  this.apellidos = "";
                  this.cp ="";
                  this.estado ="";
                  this.municipio ="";
                  this.ciudad ="";
                  this.coloniaInput ="";
                }else {
                  this.errorAltaCliente = true;
                }
              }else{
                this.errorDatosClienteFisica = true;
              }
            }else{
              var aux="";
              if(this.apellidos === null || this.apellidos === "" || this.apellidos === undefined){
                aux = "";
              }
              var cliente ='{"tipoPersona": "'+ this.tipoInput+'", "nombre": "'+this.nombre+'", "apellidos": "'+aux+'", "cp": "'+ this.cp+'", "estado": "'+this.estado+'", "municipio": "'+this.municipio+'", "ciudad": "'+this.ciudad+'", "colonia": "'+this.coloniaInput+'"}';
              var obj = JSON.parse(cliente);
              var body = JSON.stringify(obj);
              request.send(body);
              this.respuesta = request.responseText;
              if(this.respuesta=200)
              {
                this.altaOkCliente=true;
                this.errorDatosClienteFisica = false;
                this.errorAltaCliente = false;
                this.tipoInput = "";
                this.nombre = "";
                this.apellidos = "";
                this.cp ="";
                this.estado ="";
                this.municipio ="";
                this.ciudad ="";
                this.coloniaInput ="";
              }else {
                this.errorAltaCliente = true;
              }
            }
      }

      guardarAlerta(){
        var url = "http://localhost:3000/alertas";
        var alerta ='{"tipoAlerta": "'+  this.tipoInputAlerta+'", "cliente": "'+this.clienteInput+'", "planAccion": "'+this.inputPlanAccion+'", "fechaCompromiso": "'+this.inputFechaComp+'"}';
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var obj = JSON.parse(alerta);
        var body = JSON.stringify(obj);
        request.send(body);
        this.respuesta = request.responseText;
        if(this.respuesta=200)
        {
          this.altaOkAlerta=true;
          this.tipoInputAlerta = "";
          this.clienteInput = "";
          this.inputPlanAccion = "";
          this.inputFechaComp ="";
        }else {
          this.errorAltaAlerta = true;
        }
      }

      consultaSepomex(cp){
        var url = "http://localhost:3000/sepomex/"+this.cp;
        var request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.respuesta = JSON.parse(request.responseText);
        var arrayCol= [];
        for (var i = 0; i < this.respuesta.length; i++) {
          this.estado = this.respuesta[0].response.estado;
          this.municipio = this.respuesta[0].response.municipio;
          this.ciudad = this.respuesta[0].response.ciudad;
          arrayCol.push(this.respuesta[i].response.asentamiento);
        }
        this.options = arrayCol;
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
